<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Nepali Food Classifier</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Nepali Food Classification</h1>
      <div class="row center">
        <h5 class="header col s12 light">Classify the type of Nepali food.
          <br>
        </h5>
      </div>

      <div class="row">
        <form action='/predict' method="POST" class="col s12" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field">
              <label for="image"><b>Insert Image</b></label>
              <br><br>
              <input id="image" name="image" type="file" class="validate" accept="image/*">
            </div>
          </div>

          <div class="row center">
            <button type="submit" class="btn-large waves-effect waves-light green">Predict Image</button>
          </div>
        </form>
      </div>

      <br>
      {% if pred %}
      <h4 align="center"><b>{{ pred }}</b></h4>
      {% endif %}
      {% if des %}
      <h5 align="center"><b>Description: </b>{{ des }}</h5>
      {% endif %}
      {% if des2 %}
      <h5 align="center">{{ des2 }}</h5>
      {% endif %}
      {% if no_image %}
      <h4 align="center" style="color:red;"><b>{{ no_image }}</b></h4>
      {% endif %}

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>